<!DOCTYPE html>
<html>
    <head>
        <title>About Sandra's Blog</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab|Sacramento" rel="stylesheet">
        <style type="text/css">
        body {
          padding: 20px 20%;
        	background-image: linear-gradient(to bottom right, #164662, #4d86b2);
          height: 100vh;
          color: white;
          font-family: 'Roboto Slab', serif;
        }
        h1 {
          font-family: 'Sacramento', cursive;
          font-size: 5em;
          text-align: center;
        }
        h2 {
          font-size: 2.5em;
        }
        p {
          font-size: 1.5em;
        }
        </style>
    </head>
    <body>

        <h1>Welcome to my About Page</h1>

        <h2>About Me</h2>

        <p>Welcome to my about page! I'm Sandra, a student in Web Development at Durhamtech. I am
          passionate about front end coding, especially the design aspect of it, and I'm trying my
          best to follow the back end portion of my studies.</p>

        <h2>About this Blog</h2>
        <p>This blog is about the different things that I learn each day. It may thus be quite
          scattered... like my brain... but hopefully you will enjoy it nonetheless!</p>
    </body>
</html>
